/* Стилі для секції "Про компанію" */
.about-section {
  padding: 25px 0;
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.section-description {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.reasons-list {
  // list-style-type: disc;
  padding-left: 20px;
	list-style: none;
}

.reasons-item {
  margin-bottom: 10px;
}

// .about__man {
//   position: relative;
//   max-width: 100%;
// }

.about__man {
  float: left;
  margin-right: 20px;
}

.img__man {
  width: 300px; /* Задайте ширину зображення за потребою */
  height: auto;
}

.section-description {
  margin-top: 0;
}

.txt-size {
	text-align: justify;
}

#info-modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.about-info {
	position: relative;
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	width: 80%;
	max-width: 600px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	text-align: center;
}

.about-info img {
	width: 100%;
	max-width: 200px;
	padding-left: 85px;
	margin-bottom: 20px;
}

.about-info h2 {
	margin-bottom: 10px;
}

.about-info .reasons-list {
	text-align: left;
	list-style: none;
	margin-left: -10px;
}

.about-info .reasons-item {
	margin-bottom: 10px;
}

/* Адаптація для телефону */
@media screen and (max-width: 480px) {
	.about-info {
		margin: 30% auto;
	}
}

/* Адаптація для планшету */
@media screen and (min-width: 481px) and (max-width: 1024px) {
	.about-info {
		margin: 20% auto;
	}
}


/* Адаптивні стилі для телефону */
@media (max-width: 767px) {
  .section-title {
    font-size: 26px;
  }

  .section-description {
    font-size: 15px;
    margin-bottom: 30px;
  }

  .reasons-list {
    padding-left: 15px;
  }

	.img__man {
		width: 160px;
		padding-left: 56px;
	}
	.btn-about {
		width: 223px;
    height: 47px;
    border-radius: 20px;
    margin-top: -2%;
	}
}

/* Адаптивні стилі для планшету */
@media (min-width: 768px) and (max-width: 1023px) {
  .section-title {
    font-size: 28px;
  }

  .section-description {
    font-size: 17px;
    margin-bottom: 35px;
  }
}

/* Адаптивні стилі для ПК */
@media (min-width: 1024px) {
  .section-title {
    font-size: 36px;
  }

  .section-description {
    font-size: 18px;
    margin-bottom: 45px;
  }
}














