.section.clients {
    @media (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
}
.clients__title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    @media (max-width: 1199px) {
        font-size: 28px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px; 
    }
}

.clients__list {
    @media (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        justify-content: center;
    }

    // @media screen and (min-width: 768px) and (max-width: 1199px) {
    //     margin: -15px;
    // }
    
    @media (min-width: 1200px) {
        display: flex; 
        justify-content: center; 
    }

}
.clients__item {
        @media (max-width: 767px) {
            flex-basis: calc((100% - 6 * 15px) / 2);
            margin: 15px;
            


            // flex-basis: 50%;
            // max-width: 210px;
            // &:nth-child(odd) {
            //     margin-right: 30px;
            // }
            // &:nth-child(-n + 4) {
            //     margin-bottom: 30px;
            // }
        }
    
        @media (min-width: 768px) and (max-width: 1199px) {
             flex-basis: calc((100% - 6 * 15px) / 3);
            margin: 15px;

            
            
            // Flex-basic Или width: calc ((100% - Кол. Марджинов * половину марджина) / на кол.
            //  эмементов в списке);

            // flex-basis: 33.3333%;
            // max-width: 226px;
            // &:nth-child(1) {
            //     margin-right: 30px;
            // }
            // &:nth-child(2) {
            //     margin-right: 30px;
            // }
            // &:nth-child(4) {
            //     margin-right: 30px;
            // }
            // &:nth-child(5) {
            //     margin-right: 30px;
            // }
            // &:nth-child(-n + 3) {
            //     margin-bottom: 30px;
            // }
        }
    
    @media (min-width: 1200px) {
        display: flex;
        width: 170px;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
    
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media (max-width: 767px) {
        width: 100%;
    }

    @media (min-width: 768px) {
        width: 226px;
    }

    @media (min-width: 1200px) {
        width: 170px;
    }
    
}
.client__icon {
    fill: currentColor;
}