.hero.section {
	  position: relative;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 479px) {
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(/images/Blue_Watercolor_Map_of_the_World.jpg);
        
    
        @media (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(/images/Blue_Watercolor_Map_of_the_World.jpg);
        }
    }

    @media (min-width: 480px) {
        background-image: linear-gradient(
        to right,
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)),
        url(/images/Blue_Watercolor_Map_of_the_World.jpg);
         width: 480px;
        height: 400px;
        background-size: 480px 400px;
                
        @media (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(/images/Blue_Watercolor_Map_of_the_World.jpg);
        }
    }
    @media (min-width: 768px) {
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(/images/Blue_Watercolor_Map_of_the_World.jpg);
        width: 768px; 
        height: 400px;
        background-size: 768px 400px;
               
        @media (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(/images/Blue_Watercolor_Map_of_the_World.jpg);
        }    
    }
    @media (min-width: 1200px) {
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(/images/Blue_Watercolor_Map_of_the_World.jpg);
        width: 100%;
        max-width: 1600px;
        height: 1000px;
        background-size: cover;

        @media (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(/images/Blue_Watercolor_Map_of_the_World.jpg);
        }
    }

            
    // @media screen and (max-width: 767px) {
    //     padding-top: 118px;
    //     padding-bottom: 118px;
    //     max-width: 480px;
    // }
    // @media screen and (min-width: 768px) and (max-width: 1199px) {
    //     max-width: 768px;
    // }
    // @media screen and (min-width: 1200px) {
    //     max-width: 1600px;
    //     padding-top: 200px;
    //     padding-bottom: 200px;
    // }

}
// .hero__title {
// 	font-family: var(--font-hero);
// 	max-width: 820px;
//     font-weight: 400;
//     font-size: 44px;
//     line-height: 1.36;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
// 	 margin-left: auto;
// 	 margin-right: auto;
//     margin-bottom: 370px;
// 		transform-origin:bottom;
// 	 transform: skewX(50deg);
	 
//     @media (max-width: 767px) {
// 		  max-width: 360px;
//         font-size: 1em;
//         line-height: 1.61;
				
//     }

// 	 @media screen and (max-width: 768px) {
		
// 		margin-left: auto;
// 		margin-right: auto;
// 	 }



// }

.center {
	margin: -26px 0px 59px 0;
}


.data-titel {
	font-family: var(--font-hero);
	font-size: 24px;
	text-transform: uppercase;
	transform: translateY(10%);
	text-shadow: 0 5px 10px rgba(0, 0, 0, 1);
	mix-blend-mode: overlay;
}

