.hero.section {
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 479px) {
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/bgheroimg@1mob.jpg);
        
    
        @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/bgheroimg@2mob.jpg);
        }
    }

    @media screen and (min-width: 480px) {
        background-image: linear-gradient(
        to right,
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)),
        url(../images/bgheroimg@1mob.jpg);
         width: 480px;
        height: 400px;
        background-size: 480px 400px;
                
        @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/bgheroimg@2mob.jpg);
        }
    }
    @media screen and (min-width: 768px) {
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/bgheroimg@1tab.jpg);
        width: 768px;
        height: 400px;
        background-size: 768px 400px;
               
        @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/bgheroimg@2tab.jpg);
        }    
    }
    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/bgheroimg.jpg);
        width: 100%;
        max-width: 1600px;
        height: 600px;
        background-size: cover;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/bgheroimg@2.jpg);
        }
    }

            
    // @media screen and (max-width: 767px) {
    //     padding-top: 118px;
    //     padding-bottom: 118px;
    //     max-width: 480px;
    // }
    // @media screen and (min-width: 768px) and (max-width: 1199px) {
    //     max-width: 768px;
    // }
    // @media screen and (min-width: 1200px) {
    //     max-width: 1600px;
    //     padding-top: 200px;
    //     padding-bottom: 200px;
    // }

}
.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    @media screen and (max-width: 1199px) {
        font-size: 26px;
        line-height: 1.61;
    }
}