.section.team {
    @media (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    text-align: center;
}


.team__title {
    @media (max-width: 1199px) {
        margin-bottom: 30px;
        font-size: 28px;
    }
    @media (min-width: 1200px) {
        margin-bottom: 50px;
    }
}
.team__list {

    @media (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media (min-width: 1200px) {
        display: flex;
    }
    
}
.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media (max-width: 767px) {
        
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        
        flex-basis: calc((100% - 4 * 15px) / 2);
        margin: 15px;


        // margin-right: 30px;
        // margin-bottom: 30px;
        // &:nth-child(even) {
        //     margin-right: 0;
        // }
        // &:nth-child(3) {
        //     margin-bottom: 0;
        // }
        // &:nth-child(4) {
        //     margin-bottom: 0;
        // }
    }
    @media (min-width: 1200px) {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
}

// .team__image {
//     @media screen and (max-width: 767px) {
//         width: 100%;
//     }
    
//     @media screen and (min-width: 768px) {
//         width: 100%;
//     }
// }

.team__box {
    padding-top: 30px;
    padding-bottom: 16px;
}
.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.team__pos {
    font-size: 16px;
}
.social-list {
    padding: 0 32px 30px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-list__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.social-list__link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
}
.social-list__icon {
    fill: currentColor;
}