.form__main {
    margin: 0 40px 12px ;
    margin-bottom: 20px;
    @media screen and (max-width: 414px) {
        margin: 0 15px;
    }
}
.form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
    @media screen and (max-width: 1199px) {
        line-height: 1.5;
        margin-left: 40px;
        margin-right: 40px;
    }
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 12px;
}
.form__box {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.form__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 1);
    margin-bottom: 4px;
}
.form__svg {
    position: relative;
}
.form__input {
    margin: 0;
    padding: 6px 0 6px 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: 0;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 448px;
    height: 40px;

    @media screen and (max-width: 1199px) {
        width: 370px;
    }
    @media screen and (max-width: 414px) {
        width: 332px;
    }

    &:focus {
        border-color: rgba(33, 150, 243, 1);
    }
}


.form__icons {
    left: 15px;
    position: absolute;
    bottom: 14px;
    display: inline-block;
    fill: currentColor;
}
.form__textarea {
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: 0;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    @media screen and(max-width: 414px) {
        width: 332px;
    }

    &:focus {
        border-color: rgba(33, 150, 243, 1);
    }
    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    }
}


.form__check {
    @media screen and (max-width: 1199px) {
        margin-left: 40px;
        margin-right: 40px;
    }
    margin-bottom: 30px;
    margin-left: 52px;
    margin-right: 52px;
    display: flex;
    align-items: center;
}

.form-check__label {
    @media screen and (max-width: 1199px) {
        font-size: 12px;
        line-height: 1.17;
    }
    @media screen and (max-width: 414px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 10px;
    }
    font-weight: 400;
    line-height: 1.71;
    color: rgba(117, 117, 117, 1);
    display: flex;
    align-items: center;
}
.form__control {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: currentColor;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid --color-primarybl;
    border-radius: 2px;
    box-shadow: 0 4px 4px 0 #00000040;
}
.form__checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
}

.form-check__icon {
    opacity: 0;
    flex-shrink: 0;   
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 2px solid --color-second;
    border-radius: 2px;
}
.form-check__icon {
    .form__checkbox:checked + & {
        opacity: 1;
    }
}



.form__word {
    color: rgba(33, 150, 243, 1);
    
}
.form__button {
    @media screen and (max-width: 1199px) {
        margin: 0 125px 40px;
    }
    @media screen and (max-width: 414px) {
        margin: 0px 77px 40px;
    }
    margin: 0 164px 40px;
    border-radius: 4px;
    border: 1px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    padding: 10px 55px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: rgba(24, 140, 232, 1);
    }
}