.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
	border: #6B99C3;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2f303a;
	z-index: 2;
}
.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0 10px;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header__logo {
  display: block;
  flex: 0 0 60px;
  overflow: hidden;
	position: relative;
	z-index: 3;
}
.mobil-logo {
	color: #8e9ca5;
}
.mobil-titel-pro {
	color: #d3b486;
}
.header__burger {
  display: none;
}
.header__menu {}

  @media (max-width: 767px) {
		body.lock {
			overflow: hidden;
		}
		.header__body {
			height: 50px;
		}
		.header__logo {
			 left: -100%;
			  flex: 0 0 100px;
				text-decoration: none;
		}
    .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
			right: -100%;
			position: relative;
			z-index: 3;
    }
		.header__burger span {
			position: absolute;
			background-color: #fff;
			left: 0;
			width: 100%;
			height: 2px;
			top: 9px;
			transition: all 0.3s ease 0s;
		}
    .header__burger::before,
    .header__burger::after {
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
			transition: all 0.3s ease 0s;
    }
    .header__burger::before {
      top: 0;
    }
    .header__burger::after {
      bottom: 0;
    }
		.header__burger.active::before {
			transform: rotate(45deg);
			top: 9px;
		}
		.header__burger.active::after {
			transform: rotate(-45deg);
			bottom: 9;
		}
		.header__burger.active span {
			transform: scale(0);
		}
		.header__menu {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color:#6B99C3;
			overflow: auto;
			padding-top: 70px;
			padding-left: 10px;
			padding-bottom: 20px;
			padding-right: 10px;
			transition: all 0.3s ease 0s;
		}
		.header__menu.active {
			top: 0;
		}
		.header__list {
			display: block;
		}
		.header__list li {
			  margin: 0px 0px 20px 0px;
		}
		.header__link {
			font-size: 24px;
		}
  }

.header__list {
  display: flex;
	flex-direction: column;
	position: relative;
	z-index: 2;
}

.header__list li {
  list-style: none;
  margin-bottom: 20px;
}

.header__link {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

// @media  {max-width: 767px;} {
	
// }

#order-modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.order-form {
	position: relative;
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	width: 80%;
	max-width: 600px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	text-align: left;
}

.order-form label {
	display: block;
	margin-bottom: 10px;
}

.order-form input[type="text"],
.order-form input[type="email"],
.order-form textarea {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.order-form select {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.order-form .file-upload {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 6px 12px;
	background-color: #f9f9f9;
	cursor: pointer;
	margin-bottom: 10px;
}

.order-form .file-upload input[type="file"] {
	display: none;
}

.order-form button {
	background-color: #4caf50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* Адаптація для телефону */
@media screen and (max-width: 480px) {
	.order-form {
		margin: 30% auto;
	}
}

/* Адаптація для планшету */
@media screen and (min-width: 481px) and (max-width: 1024px) {
	.order-form {
		margin: 20% auto;
	}
}

#consultation-modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.consultation-form {
	position: relative;
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	width: 80%;
	max-width: 600px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	text-align: left;
}

.consultation-form label {
	display: block;
	margin-bottom: 10px;
}

.consultation-form input[type="text"],
.consultation-form input[type="email"],
.consultation-form textarea {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.consultation-form button {
	background-color: #4caf50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* Адаптація для телефону */
@media screen and (max-width: 480px) {
	.consultation-form {
		margin: 30% auto;
	}
}

/* Адаптація для планшету */
@media screen and (min-width: 481px) and (max-width: 1024px) {
	.consultation-form {
		margin: 20% auto;
	}
}