:root {
    --color-primary: #212121;
    --color-second: #2196f3;
    --color-contacts: #757575;
    --color-hero: #2f303a;
    --color-hero-name: #ffffff;
    --color-button: #188ce8;
    --color-team: #f5f4fa;
    --color-contacts-footer: rgba(255, 255, 255, 0.6);
    --color-social-icons: #afb1b8; 
    --color-icons-footer: rgba(255, 255, 255, 0.1);
    --color-icons: #afb1b8;
    --color-background: rgba(47, 48, 58, 0.8);
    --color-bckground: rgba(33, 150, 243, 0.9);
    

    --font-family-primary: 'Roboto', sans-serif;
    --font-family-logo: 'Raleway', sans-serif;
}